<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mySection" type="ConsoleApp1.DbConfig,ConsoleApp1"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <mySection system="SqlServer" days="1,2,3,4,5">
    <element>
      <t1 type="ConsoleApp1.MyClass,ConsoleApp1"/>
      <t2 type="ConsoleApp1.MyClass,ConsoleApp1"/>
    </element>
  </mySection>
</configuration>